/* Mobile $ Tablet */
@media (max-width:1023px){
    .hide-on-mobile-tablet{
        display: none;
    }
    :root{
        --header-height: 68px;
        --navbar-height:0px;
    }
    .header{
        position: fixed;
        z-index: 10;
        top:0;
        left: 0;
        right: 0;
    }
    .app_container{
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }
    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
        z-index: 3;
    }
    .header__cart-list::after{
        display: none;
    }
    .header__cart-list::before{
        content: "";
        position: absolute;
        top: -23px;
        right: 51px;
        background-color:transparent;
        width: 100px;
        height: 31px;
    }
    .header__sort-bar{
        display: flex;
    }
    .app__content{
        padding-top: 8px;
    }
    .mobile-category{
        display: block;
    }
}
/*Tablet */
@media (min-width:740px) and (max-width:1023px){
    .hide-on-tablet{
        display: none;
    }
    .header__cart-notice {
        right: 0;
    }
    .header__cart {
        width: 80px;
        text-align: right;
        position: relative;
    }
    .header__search-history{
        z-index: 3;
    }
}
/* Mobile*/
@media (max-width:739px){
    .hide-on-mobile{
        display: none;
    }
    .header-with-search{
        justify-content: space-between;
    }
    .header__logo,.header__cart{
        width: unset;
    }
    .header__cart-notice{
        right: 2px;
    }
    .header__search {
        position: absolute;
        top: var(--header-height);
        left: 0;
        right: 0;
        z-index: 4;
        animation: mobilesearch linear 0.3s;
    }
    .header__search-checker:checked ~ .header__search{
        display: flex;
    }
    .header__search-history {
        position: fixed;
        width: 100%;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        left: 0;
    }
    .header__mobile-search{
        display: block;
    }
    .pagination-item{
        margin: 0;
    }
    .pagination-item__link{
        min-width: 36px;
        --height:28px;
        font-size: 1.6rem;
    }
    .app__content{
        margin: 0 4px;
    }

    .footer__content{
        padding: 0 16px;
    }
    @keyframes mobilesearch {
        from{
            opacity: 0;
            top: calc(var(--header-height) / 2)
        }
        to{
            opacity: 1;
            top:var(--header-height)
        }
    }
}